.date-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 60px;
  justify-content: space-between;
  height: 100%;
  span {
    text-align: center;
  }

  span:first-of-type {
    font-size: 25px;
  }
  .timing {
    margin: 5px 0;
    font-size: 10px;
  }
  .duration {
    font-size: 10px;
  }
}

.green {
  svg {
    g {
      circle {
        fill: rgb(98, 191, 174);
      }
    }
  }
}
.red {
  svg {
    g {
      circle {
        fill: red;
      }
    }
  }
}
.brown {
  svg {
    g {
      circle {
        fill: rgb(243, 171, 142);
      }
    }
  }
}
